.cost{
    margin-left: 60px;
    color: red;
    font-family: 'Epilogue' sans-serif;
    font-weight: bold;
}

.editeazaProfilulButton{
    margin-top: 20px;
}

.formatLectiiEdit{
    font-family: 'Epilogue' sans-serif;
    margin-top: 20px;
}

.linkButton{
    font-size: 20px;
    color: red;
    margin-top: 10px;
    margin-left: 10px;
}

.descriereaProfilului{
    font-family: 'Epilogue' sans-serif;
    margin-top: 50px;
}

.descriereaProfiluluiLine{
    font-family: 'Epilogue' sans-serif;
    margin-top: -10px;
}

.reviewsCardTutorProfile{
    text-align: left;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.costEdit{
    margin-top: 27px;
    border-color: red;
}

.ant-input {
    border-color: red;
}