.registerChoiceButton{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Epilogue' sans-serif;
    font-size: 20px;
    color: #391400;
    font-weight: bold;
    border: 1.5px solid #391400;
}

.registerChoiceButton:hover, .registerChoiceButton::selection, ant-btn:focus{
    background: rgba(255, 255, 255, 0)  !important;
    color: #391400  !important;
    border: 2 solid #391400  !important;
    --antd-wave-shadow-color: #391400  !important;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon{
    background-color: #391400;
}
.ant-steps-item-process .ant-steps-item-icon{
    border-color: #391400;
}
.ant-steps-item-finish .ant-steps-item-icon{
    background-color: rgb(240, 240, 240);
    border-color: #391400;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
    color: #391400;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
    background-color: #391400;
}