.container{
    padding: 3% 10% 7%;
}
/* Hero */
.hero{
    margin-top: 0;
    padding-top: 0;
    background-color: #29293E;
    color: white;
}
.hero-image{
    padding-left: 60px;
}
.hero-main-text{
    line-height: 1.1;
    color: white;
    font-family: 'Epilogue-Black' sans-serif;
    font-weight: 700;
    font-size: 4rem;
    
}
.hero-main-button{
    margin-top: 1rem;
    width: 200px;
    height: 60px;
    font-family: 'Epilogue' sans-serif;
    font-weight: 900;
    font-size: larger;
}

 /* Nabvar */

 .navbar_buttons{
    color: #29293E;
    background-color: #fff;
 }

 .navbar_buttons:hover, .navbar_buttons::selection, ant-btn:focus{
    color: #29293E;
    background-color: rgba(255, 255, 255, 0.753);
 }