.navbar{
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.navbar_buttons{
    width: 130px;
    margin-left:2rem ;
    height: 40px;
    font-family: 'Epilogue' sans-serif;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    color: #FDF0E9;
    border: 2 solid #391400;
    background-color: #391400;
}

.navbar_buttons:hover, .navbar_buttons::selection, ant-btn:focus{
    background: rgba(255, 255, 255, 0)  !important;
    color: #391400  !important;
    border: 2 solid #391400  !important;
    --antd-wave-shadow-color: #391400  !important;
}

