.catalog{
    background-color: #FDF0E9;
}


.catalogSider{
    padding-left: 100px;
    width: 300px;
    background-color: #FDF0E9;
}

.filtreText{
    font-size: 40px;
    font-family: 'Epilogue' sans-serif;
    font-weight: bold;
    color: #391400;
    margin-bottom: 0px;
}

.filtreSubText{
    font-size: 27px;
    font-family: 'Epilogue' sans-serif;
    color: #391400;

}
.filtreRadio{
    font-size: 20px;
    font-family: 'Epilogue' sans-serif;
    color: #391400;

}

.catalogPagination{
    margin: 50px 0 50px 100px;
}